<% unless @available_tickets %>
  <div class="center w-full">
    <%= render 'search_flight' %>
  </div>
<% else %>
  <div class="center w-auto mt-quarter">
    <%= render 'search_flight' %>
    <%= render 'available_tickets' %>
  </div>
<% end %>
